{% extends 'baseNoReact.html.twig' %}
{% block body %}
    <article class="message is-danger">
        <div class="message-header">
            <p>Vous n'avez pas le droit d'accéder à cette page (403)</p>

        </div>
        <div class="message-body">
            Veuillez contacter un administrateur afin d'obtenir les droits d'accès
        </div>
    </article>
{% endblock %}
