{% extends 'baseNoReact.html.twig' %}
{% block body %}
    <article class="message is-danger">
        <div class="message-header">
            <p>La page que vous recherchez n'éxiste pas (404)</p>
            
        </div>
        <div class="message-body">
            La ressource demandée n'existe pas.
        </div>
    </article>
{% endblock %}
