{% extends 'baseNoReact.html.twig' %}
{% block body %}
    <article class="message is-danger">
        <div class="message-header">
            <p>Vous devez être authentifié pour accéder à cette page (401)</p>

        </div>
        <div class="message-body">
            Veuillez vous connecter pour accéder à cette page
        </div>
    </article>
{% endblock %}
