{% extends 'baseNoReact.html.twig' %}
{% block body %}
    <article class="message is-danger">
        <div class="message-header">
            <p>Un erreur est survenue</p>

        </div>
        <div class="message-body">
            Reprenez votre chemin comme si nous n'aviez rien vu :)
        </div>
    </article>
{% endblock %}